apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}-service
spec:
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
  selector:
    app: {{ .Values.appName }}